<div class="form-group" [class.has-success]="hasSuccess()"
                        [class.has-error]="hasError()">
  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> {{label}}</label> <!--Com template variables podemos checar a validade do campo, usamos #iptAddress="ngModel"-->
  <!--ng-content representa um espaço onde vai entrar um conteúdo, essa tecnica é chamada de content projection-->
  <ng-content></ng-content>

  <span class="help-block" *ngIf="hasSuccess()">Ok</span>
  <span class="help-block" *ngIf="hasError()">{{errorMessage}}</span>
</div>
